In [71]:
import pandas as pd
train = pd.read_csv('train.csv')

In [72]:
train.isnull().sum()

Feature 1     0
Feature 2     0
Feature 3     0
Feature 4     0
Feature 5     0
Feature 6     0
Feature 7     0
Feature 8     0
Feature 9     0
Distance      0
Feature 10    0
Feature 11    0
Feature 12    0
Feature 13    0
Feature 14    0
Class         0
dtype: int64

In [73]:
train.Class.value_counts()

g    8632
h    4682
Name: Class, dtype: int64

In [74]:
train

,Feature 1,Feature 2,Feature 3,Feature 4,Feature 5,Feature 6,Feature 7,Feature 8,Feature 9,Distance,Feature 10,Feature 11,Feature 12,Feature 13,Feature 14,Class
0,44.35,17.30,2.82,0.24,0.13,-53.74,13.11,-9.54,6.96,220.40,X,Y,X,3A0OA29QMU,CYRZQ,g
1,33.58,11.03,2.71,0.43,0.25,38.20,29.63,6.27,27.02,143.94,T,R,V,99YDVLGRQC,F1X86,h
2,40.91,11.82,2.65,0.49,0.31,7.02,35.47,5.39,10.00,117.88,S,U,X,RQIVF03R75,00Z0Q,h
3,17.85,10.49,2.27,0.60,0.35,20.87,11.62,-2.27,43.79,65.02,R,S,U,6W0HC1C64W,PDPTP,g
4,40.70,30.74,3.46,0.16,0.08,39.94,25.96,8.93,7.89,127.08,Z,R,X,TPTF14C6CK,SNXVE,g
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13309,100.02,46.53,3.10,0.34,0.19,-66.99,-102.57,37.02,26.49,405.54,V,Y,V,ISVKBQHPFQ,AXHD7,h
13310,45.35,28.71,3.11,0.30,0.20,27.79,46.70,-21.98,6.13,238.42,V,S,Y,ACQCIZYNQK,5PUCB,g
13311,47.11,20.76,3.12,0.21,0.11,13.59,32.30,6.10,12.88,178.10,Y,T,X,EDWHBUHGAK,3XSGC,g
13312,50.42,16.12,3.11,0.24,0.13,-31.92,-30.42,11.91,9.69,126.38,X,Y,X,EX8KKEHN9R,7C3SF,g
13313,55.01,11.84,2.89,0.32,0.16,43.27,40.90,-9.78,50.73,75.45,V,R,U,1Q4UDMZD99,DC9W6,h

In [75]:
# 
train['Feature 10'] = train['Feature 10'].astype('category').cat.codes
train['Feature 11'] = train['Feature 11'].astype('category').cat.codes
train['Feature 12'] = train['Feature 12'].astype('category').cat.codes

In [76]:
train

,Feature 1,Feature 2,Feature 3,Feature 4,Feature 5,Feature 6,Feature 7,Feature 8,Feature 9,Distance,Feature 10,Feature 11,Feature 12,Feature 13,Feature 14,Class
0,44.35,17.30,2.82,0.24,0.13,-53.74,13.11,-9.54,6.96,220.40,7,8,4,3A0OA29QMU,CYRZQ,g
1,33.58,11.03,2.71,0.43,0.25,38.20,29.63,6.27,27.02,143.94,3,1,2,99YDVLGRQC,F1X86,h
2,40.91,11.82,2.65,0.49,0.31,7.02,35.47,5.39,10.00,117.88,2,4,4,RQIVF03R75,00Z0Q,h
3,17.85,10.49,2.27,0.60,0.35,20.87,11.62,-2.27,43.79,65.02,1,2,1,6W0HC1C64W,PDPTP,g
4,40.70,30.74,3.46,0.16,0.08,39.94,25.96,8.93,7.89,127.08,9,1,4,TPTF14C6CK,SNXVE,g
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13309,100.02,46.53,3.10,0.34,0.19,-66.99,-102.57,37.02,26.49,405.54,5,8,2,ISVKBQHPFQ,AXHD7,h
13310,45.35,28.71,3.11,0.30,0.20,27.79,46.70,-21.98,6.13,238.42,5,2,5,ACQCIZYNQK,5PUCB,g
13311,47.11,20.76,3.12,0.21,0.11,13.59,32.30,6.10,12.88,178.10,8,3,4,EDWHBUHGAK,3XSGC,g
13312,50.42,16.12,3.11,0.24,0.13,-31.92,-30.42,11.91,9.69,126.38,7,8,4,EX8KKEHN9R,7C3SF,g
13313,55.01,11.84,2.89,0.32,0.16,43.27,40.90,-9.78,50.73,75.45,5,1,1,1Q4UDMZD99,DC9W6,h

In [77]:
train['Feature 13'].value_counts()

OJI844JANL    1
NA4KWWAJ43    1
YV196QRSNK    1
L7CQ5W8WBT    1
H8YA4D3D2U    1
             ..
6PL4GR87RI    1
V2DE2SO4D3    1
7ZB2XEQD1L    1
ZTII6876AM    1
97IKVEO87E    1
Name: Feature 13, Length: 13314, dtype: int64

In [78]:
# Dropping since it has unique values
train = train.drop('Feature 13', axis=1)

In [79]:
train = train.drop('Feature 14', axis=1)

In [80]:
import pandas as pd
import numpy as np

from sklearn.metrics import f1_score
from sklearn.model_selection import train_test_split

In [81]:
X = train.drop('Class',axis=1)
Y = train['Class']
Y

0        g
1        h
2        h
3        g
4        g
        ..
13309    h
13310    g
13311    g
13312    g
13313    h
Name: Class, Length: 13314, dtype: object

In [82]:
xtrain, xtest, ytrain, ytest = train_test_split(X, Y, random_state=42)

In [83]:
train.corr()

,Feature 1,Feature 2,Feature 3,Feature 4,Feature 5,Feature 6,Feature 7,Feature 8,Feature 9,Distance,Feature 10,Feature 11,Feature 12
Feature 1,1.00,0.77,0.70,-0.63,-0.60,-0.37,-0.14,0.02,-0.01,0.42,0.65,0.20,0.05
Feature 2,0.77,1.00,0.71,-0.61,-0.58,-0.26,-0.18,0.06,0.07,0.34,0.63,0.16,-0.04
Feature 3,0.70,0.71,1.00,-0.85,-0.81,-0.15,0.09,0.02,-0.19,0.43,0.87,0.05,0.25
Feature 4,-0.63,-0.61,-0.85,1.00,0.98,0.11,-0.12,-0.01,0.23,-0.32,-0.97,-0.01,-0.28
Feature 5,-0.60,-0.58,-0.81,0.98,1.00,0.10,-0.11,-0.01,0.23,-0.30,-0.95,-0.00,-0.27
Feature 6,-0.37,-0.26,-0.15,0.11,0.10,1.00,0.28,-0.02,-0.06,-0.22,-0.12,-0.82,0.06
Feature 7,-0.14,-0.18,0.09,-0.12,-0.11,0.28,1.00,-0.03,-0.18,0.02,0.13,-0.35,0.21
Feature 8,0.02,0.06,0.02,-0.01,-0.01,-0.02,-0.03,1.00,0.01,0.02,0.01,0.02,-0.01
Feature 9,-0.01,0.07,-0.19,0.23,0.23,-0.06,-0.18,0.01,1.00,-0.21,-0.23,0.08,-0.94
Distance,0.42,0.34,0.43,-0.32,-0.30,-0.22,0.02,0.02,-0.21,1.00,0.34,0.18,0.27
Feature 10,0.65,0.63,0.87,-0.97,-0.95,-0.12,0.13,0.01,-0.23,0.34,1.00,0.01,0.28
Feature 11,0.20,0.16,0.05,-0.01,-0.00,-0.82,-0.35,0.02,0.08,0.18,0.01,1.00,-0.08
Feature 12,0.05,-0.04,0.25,-0.28,-0.27,0.06,0.21,-0.01,-0.94,0.27,0.28,-0.08,1.00

In [84]:
# import seaborn as sns
# sns.pairplot(data=train)

In [85]:
train.describe

<bound method NDFrame.describe of        Feature 1  Feature 2  Feature 3  Feature 4  Feature 5  Feature 6  \
0          44.35      17.30       2.82       0.24       0.13     -53.74
1          33.58      11.03       2.71       0.43       0.25      38.20
2          40.91      11.82       2.65       0.49       0.31       7.02
3          17.85      10.49       2.27       0.60       0.35      20.87
4          40.70      30.74       3.46       0.16       0.08      39.94
...          ...        ...        ...        ...        ...        ...
13309     100.02      46.53       3.10       0.34       0.19     -66.99
13310      45.35      28.71       3.11       0.30       0.20      27.79
13311      47.11      20.76       3.12       0.21       0.11      13.59
13312      50.42      16.12       3.11       0.24       0.13     -31.92
13313      55.01      11.84       2.89       0.32       0.16      43.27

       Feature 7  Feature 8  Feature 9  Distance  Feature 10  Feature 11  \
0          13.11      -9.54       6.96    220.40           7           8
1          29.63       6.27      27.02    143.94           3           1
2          35.47       5.39      10.00    117.88           2           4
3          11.62      -2.27      43.79     65.02           1           2
4          25.96       8.93       7.89    127.08           9           1
...          ...        ...        ...       ...         ...         ...
13309    -102.57      37.02      26.49    405.54           5           8
13310      46.70     -21.98       6.13    238.42           5           2
13311      32.30       6.10      12.88    178.10           8           3
13312     -30.42      11.91       9.69    126.38           7           8
13313      40.90      -9.78      50.73     75.45           5           1

       Feature 12 Class
0               4     g
1               2     h
2               4     h
3               1     g
4               4     g
...           ...   ...
13309           2     h
13310           5     g
13311           4     g
13312           4     g
13313           1     h

[13314 rows x 14 columns]>

In [86]:
from sklearn import preprocessing

In [87]:
normal_X = preprocessing.scale(xtrain)
normal_Xtest = preprocessing.scale(xtest)

In [88]:
from lightgbm import LGBMClassifier
from sklearn.metrics import accuracy_score

In [116]:
lgbm = LGBMClassifier(num_leaves=70, objective='binary', random_state=5)

lgbm.fit(normal_X, ytrain)

y_pred = lgbm.predict(normal_Xtest)

In [117]:
y_pred

array(['g', 'g', 'g', ..., 'g', 'h', 'h'], dtype=object)

In [118]:
accuracy_score(ytest, y_pred)

0.8882547311504957

In [119]:
test = pd.read_csv('test.csv').drop('ID',axis=1)

In [120]:
# Dropping since it has unique values
test = test.drop('Feature 13', axis=1)

In [121]:
test = test.drop('Feature 14', axis=1)

In [122]:
test['Feature 10'] = test['Feature 10'].astype('category').cat.codes
test['Feature 11'] = test['Feature 11'].astype('category').cat.codes
test['Feature 12'] = test['Feature 12'].astype('category').cat.codes

In [123]:
test = preprocessing.scale(test)

In [124]:
test

array([[ 0.76468602, -0.25481462,  0.67439191, ...,  1.22665547,
         1.561774  , -0.985121  ],
       [-0.45680764, -0.20535112,  0.50680099, ...,  0.52951442,
        -1.2339852 ,  0.52120336],
       [-0.88835915, -0.56164636, -1.15793551, ..., -1.2133382 ,
         0.1638944 ,  0.01909524],
       ...,
       [-0.80602532, -0.65962299, -1.07424545, ..., -0.86476767,
        -0.8845153 , -1.48722912],
       [-0.69218891, -0.22936457, -0.6914214 , ..., -0.16762662,
        -0.1855755 , -1.48722912],
       [-0.33638453,  0.13701455,  0.11470147, ...,  0.52951442,
         0.1638944 ,  0.52120336]])

In [125]:
prediction = lgbm.predict(test)

In [126]:
prediction

array(['h', 'g', 'g', ..., 'g', 'g', 'g'], dtype=object)

In [127]:
tt = pd.read_csv('test.csv')

In [128]:
sample_submission = pd.DataFrame({'ID': tt['ID'].values, 'Class': prediction})

sample_submission['Class'] =  prediction
sample_submission = sample_submission.replace('1', 'h')
sample_submission = sample_submission.replace('0', 'g')

In [129]:
sample_submission

         ID Class
0     13154     h
1      2571     g
2      1320     g
3     16907     h
4      5570     g
...     ...   ...
5701  16632     h
5702  11032     g
5703  15068     g
5704  10456     g
5705    958     g

[5706 rows x 2 columns]

In [130]:
sample_submission.to_csv('Submission2.csv', index=False)